.side-bar-line {
    position: absolute;
    width: 130px;
    height: 0px;
    background-color:orange;
    color: orange;

    border: 1px solid orange;
    left: 113px;
    top: 60px;
z-index: 10000;
}

.side-bar {
    background-color: white;
    width: 350px;
    height: 391px;
    position: absolute;
    top: 669px;
    left: 200px;
    border: 1px solid #000000;
box-sizing: border-box;
border-radius: 10px;

}

.side-bar-menu {
    width: 144px;
    position: absolute;
    top: 22px;
    left: 125px;
    
}

.paragraph-group {
    position: absolute;
    top: 669px;
    left: 645px;
    width: 680px;
    height: 905px;
    background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 10px;

}

.paragraph {
    margin-left: 10px;
    margin-top: 20px;
}