*{
    box-sizing: border-box;
    margin:0;
    
    padding: 0;
    
}
body{
    position: relative;
    width: 1440px;
    background-repeat: no-repeat;
    background-image: url(/img/back.jpg);
    background-size: cover;
    height: 4360px;
    
}
.banner {
    position: absolute;
width: 1320px;
height: 154px;
left: 110px;
top: 0px;

background: #FF9A02;
opacity: 0.8;
border: 3px solid #000000;
box-shadow: 4px 4px 5px 5px rgba(0, 0, 0, 0.25);
    
}


.logo {
    position: absolute;
    width: 425px;
    height: 154px;
    left: 56px;
}
.account{
    position: absolute;
    top: 16px;
    right: 18px;
    width: 169px;
    height: 106px;

}
a{
    text-decoration: none;
}

.banner-font{
    font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 28px;

color: #FF0B0B;

}
.info-icon{
    position: absolute;
width: 43px;
height: 41px;
left: 9px;
top: -4px;

}

.font1 {
    position: absolute;
    left: 37.87%;
right: 0%;
top: 5.66%;
bottom: 67.92%;
    

}
.font2 {
    position: absolute;
    left: 40.24%;
right: 2.37%;
top: 66.98%;
bottom: 6.6%;
    
}

.nav{
    position: absolute;
width: 1320px;
height: 43px;
left: 110px;
top: 165px;

background: #FF0B0B;
box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}
.nav-title{
    position: absolute;
width: 315px;
height: 19px;
top: 12px;
left: 6px;
display: flex;
justify-content: space-between;
}

.nav-font{
    font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 19px;
/* identical to box height */
z-index: 1000;

color: #FFFEFE;
}

.search-bar {
    position: absolute;
width: 271px;
height: 27px;
right: 2px;
top: 8px;
z-index: 1000;
}

.bar{
    position: absolute;
width: 237px;
height: 27px;
right: 36px;
z-index: 1000;
background: #FFFFFF;
border-radius: 10px;
border: none;

}

.search-icon{
    position: absolute;
width: 31px;
height: 27px;
right: 2px;
border-radius: 50%;
z-index: 1000;
background: #FFFDFD;
}

.search{
    position: absolute;
width: 24px;
height: 24px;
right: 2px;
top: 2px;
}

.main-site-text{
    position: absolute;
width: 780.29px;
height: 448px;
left:  70px;
top: 110px;
z-index: 1;
}

.main-site-pic{
    position: absolute;
width: 1320px;
height: 320px;
left: 134.08px;
top: 191px;

background: url(.jpg);
border: 1px solid #FEFEFE;
box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
opacity: 0.4;
}
.main-site{
    position: absolute;
width: 1454.08px;
height: 448px;
left: -23.5px;
top: 20px;

}

.product-slide{
    position: absolute;
left: 107px;
top: 673px ;

background: #FFFAFA;
box-shadow: 0px 4px 5px 10px rgba(0, 0, 0, 0.25);
border-radius: 10px;
width: 1325px;
height: 986px;

}

.product-img {
    position: absolute;
width: 208px;
height: 259px;
left: 41px;
top: 27px;

background: url(.jpg);
border: 1px solid #000000;
box-sizing: border-box;
}

.product h2{
    position: absolute;
width: 126px;
height: 47px;
left: 11px;
top: 341px;

font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;

color: #F90202;

}

.product h4 {
    position: absolute;
width: 127px;
height: 42px;
left: 80px;
top: 294px;
text-align: center;
}
.product-list1 {
    position: absolute;
width: 287px;
height: 443px;
left: 92px;
top: 19px;
border: 1px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);

}

.product-list2 {
    position: absolute;
width: 287px;
height: 443px;
left: 522px;
top: 19px;
border: 1px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);

}

.product-list3 {
    position: absolute;
width: 287px;
height: 443px;
left: 928px;
top: 19px;
border: 1px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);



}

.product-list4 {
    position: absolute;
width: 287px;
height: 443px;
left: 92px;
top: 514px;
border: 1px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);



}

.product-list5 {
    position: absolute;
width: 287px;
height: 443px;
left: 522px;
top: 514px;
border: 1px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);



}

.product-list6 {
    position: absolute;
width: 287px;
height: 443px;
left: 928px;
top: 514px;
border: 1px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
}

.rate{
    position: absolute;
    bottom: 67px;
    right: 34px;
    width: 98px;
height: 22px;
}

.action-group {
    display: flex;
    position: absolute;
    bottom: 9px;
    left: 86px;
}

.circle1{
    position: absolute;
width: 28px;
height: 27px;
left: 86px;
top: 407px;
}

.circle2 {
    position: absolute;
width: 28px;
height: 27px;
left: 131px;
top: 407px;
}

.circle3 {
    position: absolute;
width: 28px;
height: 27px;
left: 176px;
top: 407px;

}

#add {
    position: absolute;
    top: 414px;
    left: 93px;
}

#star{
    position: absolute;
    top: 410px;
    left: 136px;
}

#heart {
    position: absolute;
    top: 412px;
    left: 180px;
}

#previous{
    transform: rotate(180deg);
    left: 5px;
    top: 465px;
    position: absolute;
    opacity: 0.6;
    
}

.btn {
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

#next {
    right: 5px;
    top: 465px;
    position: absolute;
    opacity: 0.6;
    

}


#previous:hover , #next:hover {
    opacity: 2;
    transition-duration: 0.6s;
   
}


.feature {
    position: absolute;
width: 355px;
height: 326px;
opacity: 0.5;


}

.feature1 {
    left: 165px;
top: 1741px;
}

.feature2{
    left: 595px;
    top: 1741px;
}

.feature3 {
    top: 1741px;
    left: 1025px;
}

.feature1-text {
    left: 295px;
    top: 1910px;
    position: absolute;
    color: orange;
}

.feature2-text {
    top: 1910px;
    left: 750px;
    position: absolute;
    color: orange;
}
.feature3-text {
    top: 1910px;
    left: 1160px;
    position: absolute;
    color: orange;
}

.product-slide2{
    position: relative;
    top: 2208px;
    left: 107px;
    background: #FFFAFA;
box-shadow: 0px 4px 5px 10px rgba(0, 0, 0, 0.25);
border-radius: 10px;
width: 1325px;
height: 986px;
}

.product2 h2{
    position: absolute;
width: 126px;
height: 47px;
left: 11px;
top: 341px;

font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;

color: #F90202;

}

.product2 h4 {
    position: absolute;
width: 127px;
height: 42px;
left: 80px;
top: 294px;
text-align: center;
}

.feedback-group{
    display: flex;
    position: absolute;
    left: 83px;
    top: 3335px;
    width: 1313px;
    flex-direction: row;
    justify-content: space-evenly;
}


.person {
    width: 164px;
    height: 185px;
    border-radius: 50%;
    position: relative;
    left: 65px;
    top: 70px;
    
    
}

.feedback {
    width: 291px;
    height: 350px;
}

.frame {
    width: 293px;
    height: 228px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-top: 20px;
    
}

.feedback-title {
    position: absolute;
    left: 580px;
    top: 3270px;
    color: orange;
}

.delivery {
    display: flex;
    position: absolute;
    background-color: white;
    width: 1440px;
    top: 3850px;
    justify-content: space-evenly;
    left: 35px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}

.footer {
    width: 1440px;
    height: 250px;
    background-color: orange;
    position: absolute;
    bottom: 0px;
    left: 35px;
    border-radius: 10px;
    
}
.footer-logo {
    left: 82px;
    top: 44px;
    position: absolute;
}
.line1 {  
    left: 320px;
    top: 125px;
}

.space{
    transform: rotate(90deg);
    position: absolute;
    width: 172.01px;
    height: 0px;
    background-color: white;

    border: 1px solid #FFFFFF;
}

.line2 {

    position: absolute;
    width: 130px;
    height: 0px;
    background-color: white;

    border: 1px solid #FFFFFF;
    top: 70px;
    left: 460px;


}

.line3 {
    left: 1090px;
    top: 125px;
}

.contact {
    position: absolute;
    left: 472px;
    top: 36px;
    width: 100%;
    padding-left:20px ;
}

.contact-info {
    display: flex;
    padding-bottom: 20px;
    
}

.social-media {
    width: 242px;
    position: absolute;
    top: 52px;
    left: 1225px;
}

.social-icon {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    margin-left: 5px;
}